*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}

h1,span{
    font-family: Montserrat, sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

body {
    margin: 0;
    background-color: #000000;
    height: 100vh;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    flex-direction: column;
    height: 98vh;
}

footer{
    height: 2vh;
    text-align: left;
    font-size: 1.5vh;
}

.hcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    flex-direction: row;
}

h1 {
    font-size: 8vw;
}

span{
    font-size: 4vw;
}

.pcontainer {
    width: 30vw;
    height: 2vw;
    border: 5px solid #FFFFFF;
    padding: 5px;
    background-color: #000000;
}

.pbar {
    height: 100%;
    width: 0%;
    background-color: #FFFFFF;
}

#pbarp{
    font-size: 3.2vw;
}

#time{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1.5vw;
}